div.prmedia_tc_def div.comments_block {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

div.prmedia_tc_def div.comments_block.best {
	background-color: #FFFAE8;
	padding: 20px 10px 0 20px;
	border: 1px solid #FED68B;
	border-left: 7px solid #FED68B;
}

div.comments_block div, div.comments_block dl, div.comments_block dt, div.comments_block dd, div.comments_block ul, div.comments_block ol, div.comments_block li, div.comments_block h1, div.comments_block h2, div.comments_block h3, div.comments_block h4, div.comments_block h5, div.comments_block h6, div.comments_block pre, div.comments_block form, div.comments_block fieldset, div.comments_block input, div.comments_block textarea, div.comments_block p, div.comments_block blockquote, div.comments_block th, div.comments_block td {
	margin:0;
	padding:0;
}

div.prmedia_tc_def div.comments_block img {
	border:none;
}

div.prmedia_tc_def div.comments_block br.clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
}

div.prmedia_tc_def div.comments_block a {
	color:#1160d7;
}

div.prmedia_tc_def div.comments_block a:hover {
	text-decoration:none;
}

div.prmedia_tc_def div.comments_block p.comments_block_title {
	font-size:21px;
}

div.prmedia_tc_def div.comments_block div.comments_list {
	margin:10px 0 10px 0;
}

div.prmedia_tc_def div.comments_block div.divider {
	height:1px;
	border-style:none;
	border-top:1px solid #ebebeb;
	background-color:transparent;
	margin:0;
	padding:0;
	line-height:0;
	font-size:0;
}

div.prmedia_tc_def div.comments_block div.comment_item {
	padding:10px 10px 10px 0;
	overflow:auto;
}

div.prmedia_tc_def div.comments_block div.comment_item div.user_icon {
	border:1px solid #ebebeb;
	width:48px;
	height:48px;
	position:absolute;
}

div.prmedia_tc_def div.comments_block div.comment_item_container {
	padding-left:60px;
}

div.prmedia_tc_def div.comments_block div.comment_item div.user_icon_noavatar {
    background:  url('images/nophoto.gif') no-repeat;
	border:1px solid #ebebeb;
	width:48px;
	height:48px;
	float:left;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_top {
	float:left;
	color:#898989;
	margin:2px 0 15px 0;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_top a {
	font-size:16px;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_top .link_to_comment {
	text-decoration:none !important;
	display: block;
	float: right;
	font-size: 16px;
	margin-top: -1px;
	margin-right: 10px;
	margin-left: 10px;
	width: auto;
}

.authorized {
	margin-top: 1px !important;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_controls {
	float:right;
	margin:5px 0 0 10px;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_controls span.green {
	font-size:14px;
	color:#3b9a22;
	margin-right:5px;
	margin-left:3px;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_controls span.red {
	font-size:14px;
	color:#b30101;
	margin-right:5px;
	margin-left:3px;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_controls img {
	margin:0 3px 0 3px;
	vertical-align:middle;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_controls span.admin-control {
	margin-left:12px;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_content {
	line-height:140%;
}

div.prmedia_tc_def div.comments_block div.comment_item a.comment_item_reply_link{
	text-decoration:none;
	border-bottom:dotted 1px;
	float:right;
	margin-top:5px;
}

div.prmedia_tc_def div.comments_block div.comment_reply {
	margin-top:20px;
}

div.prmedia_tc_def div.comments_block div.comment_reply a {
	text-decoration:none;
	border-bottom:dotted 1px;
	font-size:18px;
}

div.prmedia_tc_def div.comments_block div.not_approved {
	background-color:#fff568;
	padding-left: 10px;
}

div.prmedia_tc_def div.comments_block form {
	margin-top:10px;
	padding-bottom:10px;
}

div.prmedia_tc_def div.comments_block form p {
	padding:10px 0 3px 0;
}

div.prmedia_tc_def div.comments_block form .editor {
	width: 430px;
	height: 30px;
	background-color: #f4f4f4;
	margin-bottom: 5px;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_content .quote {
 	background: url('images/icons/quote.jpg') #f4f4f4 no-repeat;
 	background-color: #f4f4f4;
	margin-bottom: 5px;
	padding: 35px 10px 10px 10px;
	border: 1px solid silver;
	margin-top: 11px;
}

div.prmedia_tc_def div.comments_block div.comment_item div.comment_item_content .code {
 	background: url('images/icons/code.jpg') #f4f4f4 no-repeat;
	margin-bottom: 5px;
	padding: 35px 10px 10px 10px;
	background-position: 1% 0%;
	border: 1px solid silver;
	margin-top: 5px;
}

div.prmedia_tc_def div.comments_block form .editor img {
	width: 27px;
	height: 27px;
	border: 1px solid #f4f4f4;
}

div.prmedia_tc_def div.comments_block form .editor img:hover {
	border: 1px solid #acacac;
}

div.prmedia_tc_def div.comments_block form input, div.comments_block form textarea {
	border-style:none;
	border:#acacac 1px solid;
	height:30px;
	width:300px;
	color:#444;
	font-family:Arial, Helvetica, sans-serif;
	padding:0 5px 0 5px;
}

*+html div.prmedia_tc_def div.comments_block form input { padding-top:6px; height:24px; }
@media \0screen { div.prmedia_tc_def div.comments_block form input { padding-top:6px; height:24px; } }

div.prmedia_tc_def div.comments_block form textarea {
	width:430px;
	height:100px;
	padding:5px;
}

div.prmedia_tc_def div.comments_block form input.comment_captcha {
	width:110px;
	vertical-align:middle;
	margin-left:10px;
	font-size:18px;
	text-align:center;
	text-transform:uppercase;
}

div.prmedia_tc_def div.comments_block form img {
	vertical-align:middle;
}

.comment_submit {
	height:36px;
	width:133px;
	background-image:url(images/submit_btn.png);
	border:none;
	margin-top:20px;
	padding:0;
	color:#FFF;
	text-transform:uppercase;
	cursor:pointer;
}

.checkRobot {
	clear: both;
	margin-top: 5px !important;
}

@media (min-resolution: .001dpcm) {
    _:-o-prefocus, .checkRobot input {
		padding-top: 4px !important;
		border: none !important;
    }
}

@media (min-resolution: .001dpcm) {
    _:-o-prefocus, .checkRobot label {
		position: relative;
		top: 1px !important;
    }
}

.checkRobot input {
	height: 16px !important;
	width: 20px !important;
}

.checkRobot label {
	position: relative;
	bottom: 2px;

}


/* comment modification info */
.prmedia_tc_def .comments_block .modify-info
{
	font-size: 13px;
	font-style: italic;
	color: #898989;
}

.prmedia_tc_def .comments_block .modify-link
{
	text-decoration: none;
	font-style: italic;
	color: #898989;
	border-bottom: 1px dotted #898989;
}
.prmedia_tc_def .comments_block .comment_hidden_content
{
	display: none;
}
